<!-- todos.html 에서  {% include  %} -->
<table>
    <div class="task">
        {{ task.body }}<br>
        {{ task.priority }}<br>
        {{ task.category }}
    </div>
    <div class="bottom">
        <!-- todo -->
        {% if todo.status == "Todo" %}
            <div class="todo">
                <a class="edit" target="_blank" href="{{ url_for('edit_task') }}">
                    <img class="icon" src="@/assets/edit.png">
                <a class="delete" target="_blank" href="{{ url_for('delete_task') }}">
                    <img class="icon" src="@/assets/delete.png">
                <a class="move" target="_blank" href="{{ url_for('') }}">
                    <img class="icon" src="@/assets/right.png">
            </div>
        <!-- doing -->
        {% elif todo.status == "Doing" %}
            <div class="doing">
                <a class="move" target="_blank" href="{{ url_for('') }}">
                    <img class="icon" src="@/assets/left.png">
                <a class="edit" target="_blank" href="{{ url_for('edit_task') }}">
                    <img class="icon" src="@/assets/edit.png">
                <a class="delete" target="_blank" href="{{ url_for('delete_task') }}">
                    <img class="icon" src="@/assets/delete.png">
                <a class="move" target="_blank" href="{{ url_for('') }}">
                    <img class="icon" src="@/assets/right.png">
        <!-- done -->
        {% else %}
                <a class="move" target="_blank" href="{{ url_for('') }}">
                    <img class="icon" src="@/assets/left.png">
                <a class="edit" target="_blank" href="{{ url_for('edit_task') }}">
                    <img class="icon" src="@/assets/edit.png">
                <a class="delete" target="_blank" href="{{ url_for('delete_task') }}">
                    <img class="icon" src="@/assets/delete.png">
        {% endif %}
    </div>
</table>