{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="head">
        <h1>Project List</h1>
        </div>
        <div class="create">
            {% if form %}
            <form action="/projects" method="post">
                {{ form.hidden_tag() }}
                    {{ form.projectname.label }}
                    {{ form.projectname(size=32) }}
                    {{ form.submit }}
            </form>
            {% endif %}
        </div>
    </div>

    <div class="contents">
        {% if projects %}
            {% for project in projects %}
                {% include "_project.html" %}
            {% endfor %}
        {% else %}
            <p>None.. create your project</p>
        {% endif %}
    </div>

    {% if post_url %}
    <a href="{{ prev_url }}"> Newer Projects</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}"> Older Projects</a>
    {% endif %}

{% endblock %}

