{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Project List</h1>
        <div class="create">
            {% if form %}
            <form action="/create_project" method="post">
                {{ form.hidden_tag() }}
                    {{ form.project(size=32) }}
                    {{ form.submit('create') }}
            </form>
            {% endif %}
        </div>
    </div>

    <div class="contents">
        {% for project in projects %}
            {% include "_project.html" %}
        {% endfor %}
    </div>

    {% if post_url %}
    <a href="{{ prev_url }}"> Newer Projects</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}"> Older Projects</a>
    {% endif %}

{% endblock content %}

